doctype 5
html(lang="en")
  head
    title Satoshi's News
    link(rel="stylesheet" href="/css/styles.css")

  body
    #app
      #header
        a(href="/") Satoshi's News
        a(href="/submit") submit
        a.login(href="/login") login / register
      #content
        block content
